:host{
  width: 100%;
}
.carousel-container{
  display: flex;
  height: calc(100vh - 56px);
}
.slide{
  height: 100%;
  width: 100%;
  background-position: top center;
  overflow: hidden;
  box-sizing: border-box;
  background-attachment: fixed;
}
.slide img{
  width: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(90%);
}
.slide h1 {
  position: absolute;
  margin: 0;
  inset: 0;
  color: #ffffff;
  font-family: cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .5);
}
